html body.has-background{
	background: url(../img/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Noto Sans JP' sans-serif;
}

.green-primary{
	background-color: #1abc9c !important;
}

.border-lg{
	border-width: medium;
}

.green-primary-text{
	color: #1abc9c !important;	
}

.outline-green-primary{
	color: #1abc9c;
	border-color: #1abc9c;
}

a.link{
	color: #1abc9c;
}

a.link:hover{
	color: #12947a;
	text-decoration: none;
}

.container-fluid{
	padding: 5%	 7% 2%;
}

.reg-with-us{
	text-shadow: 2px 2px black !important;
}

.navbar{
	font-family: 'Noto Sans JP' sans-serif;
}

.navbar .nav-item{
	color: white !important;
}

.navbar .navbar-nav{
	font-size: .8em;
}

.navbar .navbar-nav .dropdown .dropdown-item{
	font-size: .8em;
}

.hero-element{
	min-height: 500px !important;
	background: url(../img/hero.png) center bottom / cover no-repeat;
	color: white !important;
	text-shadow: 2px 2px black !important;
	position: relative;
}

.hero-element::before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .6);
}

.hero-element .hero-content{
	position: relative;
	margin-top: 80px;
	padding-left: 80px;
}

.fasility{
	padding: 5px;
	position: relative;
	margin-top: -100px;
}

.fasility .fasility-item{
	margin-top: 50px;
}

.fasility .fasility-item .icon{
	font-size: 3.5em;
}

.descript-item p{
	font-size: .9em;
}

.descript-item a.btn{
	font-size: .9em;
}

.head-with-border{
	position: relative;
	padding-bottom: 10px;
}

.head-with-border::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 10%;
	border-bottom: 3px solid #1abc9c;
}

.description p{
	text-indent: 2.5em;
	font-size: .9em;
}

.event-calendar h5{
	font-size: 1.2em;
	font-weight: 900;
}

.event-calendar p{
	font-size: .6em;
	font-weight: bold;
}

.event-title{
	font-size: 1em;
	font-weight: bold;
}

.event-time{
	font-size: .7em;
	font-weight: bold;
}

.announce-date{
	margin-bottom: 5px;
}

.announce-text{
	font-size: .7em;
	font-weight: bold;
}

.copyright-content{
	padding: 0;
}

footer{
	background: #0a0a0a;
}

footer .brand p{
	font-size: .8em;
}

footer .brand p>i{
	margin-right: 5px;
}

footer .information p,
footer .information a{
	color: white;
	font-size: .7em;
	line-height: 10px;
}

footer .information .head{
	font-size: .9em;
	margin-top: 20px;
	margin-bottom: 20px;
}

footer .copyright{
	background: #030303;
	font-size: .8em;
}

/* Article Style */
#article-title{
	font-family: 'EB Garamond', serif;
	font-size: 2.5rem;
}

#main-article .post-date{
	font-size: 1rem;
	margin-left: 5px;
	font-family: 'Lato';
}

#main-article .share-button{
	color: black;
	font-size: 1.3rem;
	margin-right: 10px;
}

#main-article .share-button:hover{
	color: #707070;
}

#article-text p{
	font-family: 'Lato', serif;
	font-size: 1.1rem;
}

#article-text a{
	color: #1abc9c;
}

#article-text a:hover{
	color: #12947a;
	text-decoration: none;
}

#img-cover{
	width: 100%;
}

#cat-list{
	border-bottom: 1px solid #e6e6e6;
}

.cat-item{
	font-size: .9rem;
	font-weight: 200;
	font-family: 'Lato', serif;
	color: #474747;
}

@media (max-width: 575.98px) {

	.card{
		margin-top: 10px !important;
	}

	.hero-element .hero-content{
		padding-left: 0px;
		text-align: center;
	}
	
	.fasility{
		width: 95%;
		margin: -4.5em auto 10px;
		padding-top: 1em;
		text-align: center;
	}

	.fasility li{
		display: inline !important;
	}

	.fasility .fasility-item .icon{
		font-size: 2.5em;
		margin-left: 5%;
		margin-right: 5%;
	}
	
	.fasility .fasility-item h2{
		display: inline;
	}

	.fasility .fasility-item p{
		display: none;
	}

}
